{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["react", "@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "indent": ["error", 4, { "ignoredNodes": ["TemplateLiteral > *"] }],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"],
        "comma-spacing": "error",
        "key-spacing": ["error", { "beforeColon": false }],
        "keyword-spacing": ["error", { "before": true }],
        "space-in-parens": "error",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "no-await-in-loop": "error",
        "no-return-await": "error",
        "no-promise-executor-return": "error",
        "prefer-promise-reject-errors": "error",
        "require-atomic-updates": "error",
        "max-nested-callbacks": ["error", 3],
        "@typescript-eslint/await-thenable": "error"
    }
}
